body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #333333;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.navbar a img {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto 5px;
}

.container {
    display: none;
    padding: 20px;
    flex: 1;
    margin-bottom: 60px; /* Espacio para la barra de navegación */
    overflow: auto; /* Permitir el desplazamiento si es necesario */
}

.container.active {
    display: block;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item {
    width: 200px;
}

.item img {
    width: 100%;
    border-radius: 10px;
}

#detalles {
    display: none;
    text-align: center;
    overflow: auto; /* Permitir el desplazamiento dentro del contenedor de detalles */
    padding-bottom: 80px; /* Añadir espacio al final para evitar que el contenido quede oculto detrás de la barra de navegación */
}

#detalles.active {
    display: block;
}

.detalle-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.detalle-imagen {
    max-width: 45%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.logo {
    max-width: 250px;
    height: auto;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.temporadas {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.temporada-contenedor {
    text-align: center;
    width: 200px;
}

.temporada-imagen {
    width: 100%;
    border-radius: 10px;
}

.temporada-nombre {
    margin-top: 5px;
    font-size: 16px;
}

/* Asegura que la página pueda desplazarse verticalmente si es necesario */
html, body {
    overflow-y: auto;
    margin: 0;
    padding: 0;
}
