body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #1e2d36;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000; /* Barra de navegación al frente */
}

.navbar a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.navbar a img {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto 5px;
}

.navbar a img:hover {  
    transform: scale(1.20); /* Scale up on hover */  
}  

.container {
    display: none;
    padding: 20px;
    flex: 1;
    margin-bottom: 60px; /* Espacio para la barra de navegación */
    overflow: auto; /* Permitir el desplazamiento si es necesario */
}

.container.active {
    display: block;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item {
    width: 200px;
}

.item img {
    width: 100%;
    border-radius: 10px;
}

#detalles {
    display: none;
    text-align: center;
    overflow: auto; /* Permitir el desplazamiento dentro del contenedor de detalles */
    padding-bottom: 80px; /* Espacio para evitar que el contenido quede oculto detrás de la barra de navegación */
}

#detalles.active {
    display: block;
}

.detalle-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.carousel {
    position: relative;
    max-width: 600px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-images img {
    min-width: 100%;
    height: 320px;
}


.logo {
    max-width: 250px;
    height: auto;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #e2574c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#reproducir-boton {
    display: block; /* Mostrar por defecto */
    margin: 30px;
}

#detalles.series #reproducir-boton {
    display: none; /* Ocultar en la sección de detalles para series */
}

.temporadas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.temporada-card {
    background-color: #121212;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
}

.temporada-card:hover {  
    transform: scale(1.05); /* Scale up on hover */  
}  

.temporada-imagen {
    width: 100%;
    border-radius: 10px;
}

.temporada-nombre {
    margin-top: 5px;
    font-size: 16px;
    color: #ffffff;
}

/* Asegura que la página pueda desplazarse verticalmente si es necesario */
html, body {
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

.pelicula-card {  
    background-color: #121212;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    z-index: 500; /* Tarjetas por debajo de la barra de navegación */
    position: relative; /* Necesario para que el z-index funcione */
}  

.pelicula-card:hover {  
    transform: scale(1.05); /* Scale up on hover */  
}  

.pelicula-imagen {  
    width: 100%;
    border-radius: 10px;
}  

.pelicula-nombre {  
    margin-top: 5px;
    font-size: 16px;
    color: #ffffff;
}

.serie-card {  
    background-color: #121212;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    z-index: 500; /* Tarjetas por debajo de la barra de navegación */
    position: relative; /* Necesario para que el z-index funcione */
}  

.serie-card:hover {  
    transform: scale(1.05); /* Scale up on hover */  
}  

.serie-imagen {  
    width: 100%; /* Image takes full width */  
    border-radius: 10px 
}  

.serie-nombre {  
    margin-top: 5px; /* Margin on top */  
    font-size: 16px; /* Font size for the series name */  
    color: #ffffff; /* White color for text */  
}

/* Aplica a enlaces específicos, como los de temporadas */
.temporada-card a,
.temporada-card a:visited,
.temporada-card a:hover,
.temporada-card a:active {
    color: #ffffff; /* Color blanco para los enlaces de temporadas */
    text-decoration: none; /* Remueve el subrayado en todos los estados */
}

#regresar-boton {
    padding: 10px 20px;
    background-color: #e2574c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: -15px;
}

#descripcion {
    text-align: justify;
    max-width: 700px; /* Define un ancho máximo */
    margin: 10px; /* Centra la descripción si es más pequeña que el ancho máximo */
}

#regresar-series-boton {
    padding: 10px 20px;
    background-color: #e2574c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #e2574c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.search-bar button:hover {
    background-color: #ff784e;
}

.navbar a.active-tab {
    border-bottom: 3px solid #4c6572; /* Línea verde debajo del enlace */
    color: #ffffff; /* Asegura que el texto se mantenga blanco */
}